.App {
  text-align: center;
}

.center {
	display: flex;
	justify-content: center;
}

.particles {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -1;
}

body {
 /* background: linear-gradient(to right, #f05053, #e1eec3);*/
background: #4568DC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */




}

/*.imagelink {
	padding-left: 40%;
	width: 70%;
	display: flex;
	justify-content: center;
	border-radius: 5em
}
*/

button {
	cursor: pointer;
}

